<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>ServletDemo1</servlet-name>
        <!--
            这儿要填写servlet完整的类名(包含包名)。
            (了解):
                servlet容器会利用java反射加载servlet,
            然后调用servlet的构造器,创建servlet对象。
         -->
        <servlet-class>com.zhangzemin.ServletDemo1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletDemo2</servlet-name>
        <servlet-class>com.zhangzemin.ServletDemo2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResponseDemo1</servlet-name>
        <servlet-class>com.zhangzemin.ResponseDemo1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResponseDemo2</servlet-name>
        <servlet-class>com.zhangzemin.ResponseDemo2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResponseDemo3</servlet-name>
        <servlet-class>com.zhangzemin.ResponseDemo3</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResponseDemo4</servlet-name>
        <servlet-class>com.zhangzemin.ResponseDemo4</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DrawImage</servlet-name>
        <servlet-class>com.zhangzemin.DrawImage</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.zhangzemin.CheckServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RequestDemo1</servlet-name>
        <servlet-class>com.zhangzemin.RequestDemo1</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RequestDemo2</servlet-name>
        <servlet-class>com.zhangzemin.RequestDemo2</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RequestDemo3</servlet-name>
        <servlet-class>com.zhangzemin.RequestDemo3</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RequestDemo4</servlet-name>
        <servlet-class>com.zhangzemin.RequestDemo4</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RequestDemo5</servlet-name>
        <servlet-class>com.zhangzemin.RequestDemo5</servlet-class>
    </servlet>

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ServletDemo1</servlet-name>-->
    <!--        &lt;!&ndash;-->
    <!--            url-pattern是告诉容器，该servlet-->
    <!--            用来处理哪些请求。-->
    <!--         &ndash;&gt;-->
    <!--        <url-pattern>/ServletDemo1</url-pattern>-->
    <!--    </servlet-mapping>-->

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ServletDemo1</servlet-name>-->
    <!--        <url-pattern>/1.htm</url-pattern>-->
    <!--    </servlet-mapping>-->

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ServletDemo1</servlet-name>-->
    <!--        <url-pattern>/2.jsp</url-pattern>-->
    <!--    </servlet-mapping>-->

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ServletDemo1</servlet-name>-->
    <!--        <url-pattern>/3.php</url-pattern>-->
    <!--    </servlet-mapping>-->

    <!--    <servlet-mapping>-->
    <!--        <servlet-name>ServletDemo1</servlet-name>-->
    <!--        <url-pattern>/4.ASPX</url-pattern>-->
    <!--    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>ServletDemo1</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletDemo2</servlet-name>
        <url-pattern>/ServletDemo2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ResponseDemo1</servlet-name>
        <url-pattern>/ResponseDemo1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ResponseDemo2</servlet-name>
        <url-pattern>/ResponseDemo2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ResponseDemo3</servlet-name>
        <url-pattern>/ResponseDemo3</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ResponseDemo4</servlet-name>
        <url-pattern>/ResponseDemo4</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DrawImage</servlet-name>
        <url-pattern>/DrawImage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RequestDemo1</servlet-name>
        <url-pattern>/RequestDemo1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RequestDemo2</servlet-name>
        <url-pattern>/RequestDemo2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RequestDemo3</servlet-name>
        <url-pattern>/RequestDemo3</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RequestDemo4</servlet-name>
        <url-pattern>/RequestDemo4</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RequestDemo5</servlet-name>
        <url-pattern>/RequestDemo5</url-pattern>
    </servlet-mapping>
</web-app>
